# {
    
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

#{
    background-color:orangered;
    
}
# img{
  height:   300px;
    margin-top: 30px;
}
body{
    text-align: center;
}

